<mat-menu #appmenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="submenuCliemt">Scripting Langauge</button>
  <button mat-menu-item [matMenuTriggerFor]="submenuServer">Main Langauge</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appmenu">Contact</button>

<mat-menu #submenuCliemt="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>JQuery</button>
</mat-menu>

<mat-menu #submenuServer="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="InnersubmenuServer">C#</button>
  <button mat-menu-item>.net Core</button>
</mat-menu>

<mat-menu #InnersubmenuServer="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="InnertosubmenuServer">ASP.Net</button>
  <button mat-menu-item>ASP .net Core</button>
  <button mat-menu-item>ASP .net Core</button>
</mat-menu>

<mat-menu #InnertosubmenuServer="matMenu">
  <button mat-menu-item>ASP.Net</button>
  <button mat-menu-item>ASP .net Core</button>
</mat-menu>

<router-outlet></router-outlet>